/*Estilos para el header*/

header{
    background-color: rgb(103, 103, 103);
    font-family: 'Times New Roman', Times, serif;
}

/*Estilo del body*/

body{font: arial;
background-color: antiquewhite;
font-family:'Courier New', Courier, monospace;
}
p {
    font-weight: bold;
}

#p1{
    background-color: aqua;
}

.perfil{
    width: 25%;
    border: 5px solid red;
    border-radius: 100%;
    height: 25%;
}


/*Estilos de la seccion #5*/
.genero{
    display: inline;
    margin: auto 10px;
}
.dep{
    display: inline;
}
input[type="text"],input[type="number"],input[type="email"]{
    width: 100%;
    border-radius: 5px;
    padding: 15px auto;
}
select{}

.buttton {
    background-color: aqua;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    color: blueviolet;
}
.buttton:hover{
    border: black 2px solid;
    box-shadow: 5px 5px 5px black;
}
table{
    border-collapse: collapse;width: 100%;
}
td,th{
    border:1px solid black;
    text-align: left;
    padding: 8px;
}